.myimage {
    float: left;
    width: 200px;
    height: 200px;
}

.mull {
    float: right;
    width: 200px;
    height: 200px;
}
.mew{
    text-indent: 50px;
}
span {
    color: blue;
    text-decoration: underline;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

.me {
    color: white;
    text-decoration: none;
}

.ment {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    background-color: green;
    height: 100px;
    align-items: center;
    color: white;
}

.parent {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    background-color: green;
    height: 100px;
    align-items: center;
    color: white;
}

.peel {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding-top: 10px;
}

.pull {
    display: flex;
    gap: 10px;
}

.child {
    display: flex;
    gap: 30px;
}

.project{
    background-color: aquamarine;
    color: white;
    border: none;
    width: 100px;
    border-radius: 10px;

}

select {
    background-color: aquamarine;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}