.myimage{
    float: left;
}
img{
    width: 200px;
    height: 200px;
}
.ment{
    float: right;
}
span{
    color: blue;
    text-decoration: underline;
}
h1{
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}