.parent{
    background-color: rgb(60, 40, 88);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;

}
.row{
    padding-bottom: 20px;
    padding: 20px 10px;
    background-color: white;
    width: fit-content;
    height: fit-content;
    box-shadow: 1px 2px 10px black;
}
.myimage{
    padding-left: 100px;
    
}
.mytext{
    padding-right: 50px;
}

.mypic{
    height: 400px;
    width: 600px;
    padding-left: 100px;
}
.color{
    color: green;
}
.color2{
    color: rgb(75, 75, 196);
}
@media (max-width:768px) {
    .myimage{
        padding-left: 0px;
        width: 350px;
        height: 350px;
    }
    .mypic{
        height: 350px;
        width: 350px;
        padding-left: 0px; 
    }
}
