table {
    margin-top: 200px;
}

.me {
    background-color: #008000;
}

.men {
    background-color: #0000ff;
}

.mens {
    background-color: #ffff00;
}

.menss {
    background-color: #ff0000;
}

.me {
    color: white;
    text-decoration: none;
}
.fa{
    font-size: 70px;
    display: none;
}
@media (max-width:780px) {
    .navigation{
        display: none;
    }
    .links{
        display: none !important;
    }
}
