table {
    margin-top: 200px;
    /* display: flex; */
    flex-direction:column ;
}

.me {
    background-color: #008000;
}

.men {
    background-color: #0000ff;
}

.mens {
    background-color: #ffff00;
}

.menss {
    background-color: #ff0000;
}

.me {
    color: white;
    text-decoration: none;
}
.me:hover {
    text-decoration: underline; /* Underline on hover */
    color: #ffcc00; /* Change color on hover */
}
@media (max-width:768px) {
    .table{
        height: 500px !important;
        width: 500px !important;
    }
}
