body{
    background-color: lawngreen;
}
.parent {
    display: flex;
    justify-content: space-between; 
    text-align: center;
    font-size: 20px;
    padding: 20px; 
    max-width: 1200px; 
    margin: 0 auto; 
}

.feature {
    flex:300px;
    margin: 10px; 
    padding: 20px; 

}
clerk{
    display: flex;
    justify-content: space-between
}
.pek{
    text-align: center;
    height: 100px;
}
.fa-solid {
    font-size: 100px;
    color: black;
}

.kow, .know, .now {
    font-size: 20px;
    color: white;
    background-color: orange;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

.kow:hover, .know:hover, .now:hover {
    background-color: darkorange;
}
.me{
    color: white;
    text-decoration: none;
}
.ment {
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    background-color: green;
    height: 100px;
    align-items: center;
    color: white;
}
img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
    padding-top: 10px;
}
.pull{
    display: flex;
    gap: 10px;
}
.child{
    display: flex;
    gap: 30px;
    font-size: 20px;
}
button{
    background-color: aquamarine;
    color: white;
    border: none;
    width: 100px;
    border-radius: 10px;

}
select {
    background-color: aquamarine;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
}
