body{
    background-color: aquamarine;
}
.fa{
    font-size: 70px;
    display: none;
}
@media (max-width:780px) {
    .navigation{
        display: none;
    }
    .links{
        display: none !important;
    }
}
