.pek {
    margin-top: 80px;
    background-color: blue;
    width: 300px;
    height: 300px;
    border-radius: 200px 10px 10px 10px;
    border-top: 10px dashed rgb(128, 0, 17);
    border-left: 10px double rgb(128, 0, 17);
    border-right: 10px dotted rgb(128, 0, 17);
    border-bottom: 10px groove rgb(128, 0, 17);
    outline: 10px green solid;
    box-shadow: 20px -20px 5px rgb(128, 128, 128);
}

@media (max-width:780px) {
    .navigation{
        display: none;
    }
    .links{
        display: none !important;
    }
}
