.tems{
    background-color: white;
    width:300px;
    border-radius: 10px;
    rotate: left;
    box-shadow: 1px 2px 10px black;
    padding-top: 10px;
    margin-top: 20px;
}
.myname{
    font-size: 20px;
    position: relative;
    left: 30px;
}
.mine{
    width: 400px;
    height: 70px;
    position: relative;
    left: 30px;
    
}
.mes{
    background-color: blue;
    width: 20px;
    height: 20px;
    position: relative;
    bottom: 100px;
    left: 290px;
    rotate: 45deg;
    
}
h2{
    text-transform: capitalize;
}
.fa{
    font-size: 70px;
    display: none;
}
@media (max-width:780px) {
    .navigation{
        display: none;
    }
    .links{
        display: none !important;
    }
}
